<footer class="site-footer">
    <div class="site-footer__menu">
        <div class="row l-grid menu-list">
            <div class="col">
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Brand-Info</a></div>
                <div class="mb-4">
                    <a href="02-category.html" class="menu-heading">Sunday</a>
                    <a href="02-category.html" class="menu-item">Features</a>
                </div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">A Twist in the Tale</a></div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Travel</a></div>
            </div>
            <div class="col">
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Politics &amp; Laws</a></div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Society</a></div>
                <div class="mb-4">
                    <a href="02-category.html" class="menu-heading">Economy</a>
                    <a href="02-category.html" class="menu-item">Business Beat</a>
                    <a href="02-category.html" class="menu-item">Talking Shop</a>
                </div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Environment</a></div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Talk Around Town</a></div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <a href="02-category.html" class="menu-heading">Opinion</a>
                    <a href="02-category.html" class="menu-item">In the Spotlight</a>
                    <a href="02-category.html" class="menu-item">Op-Ed</a>
                    <a href="02-category.html" class="menu-item">Outlook</a>
                    <a href="02-category.html" class="menu-item">You Asked</a>
                    <a href="02-category.html" class="menu-item">Your Say</a>
                </div>
                <div class="mb-4">
                    <a href="02-category.html" class="menu-heading">Life & Style</a>
                    <a href="02-category.html" class="menu-item">Expat Corner</a>
                    <a href="02-category.html" class="menu-item">nom-nom</a>
                </div>
                <div class="mb-4"><a href="02-category.html" class="menu-heading">Sports</a></div>
            </div>
            <div class="col">
                <a href="#" title="bizhub"><img src="../styles/img/bizhub_logo.png" alt=""></a>
                <div class="row bizhub-cate">
                    <a class="col menu-heading" href="#">News</a>
                    <a class="col menu-heading" href="#">Tech</a>
                    <a class="col menu-heading" href="#">Banking</a>
                    <a class="col menu-heading" href="#">Wheels</a>
                    <a class="col menu-heading" href="#">Property</a>
                    <a class="col menu-heading" href="#">Biz Guide</a>
                    <a class="col menu-heading" href="#">Markets</a>
                    <a class="col menu-heading" href="#">Events</a>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid">
    	<ul id="scroller">
			<li>
	        	<a href="#"><img src="../styles/img/lecourrier.jpg" alt=""></a>
	        </li>
	        <li>
		    	<a href="#"><img src="../styles/img/vc.jpg" alt=""></a>
		    </li>
		    <li>
		    	<a href="#"><img src="../styles/img/imgo.jpg" alt=""></a>
		    </li>
		    <li>
	            <a href="#"><img src="../styles/img/logo-ba.png" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/ttvh.gif" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/_previmg.png" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/logo-vnews.jpg" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/mset-tintuc-2010.jpg" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/vietnamlaw.gif" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/dantocmiennui.jpg" alt=""></a>
	        </li>
	        <li>
	            <a href="#"><img src="../styles/img/logo-nxbtt2-1.png" alt=""></a>
	        </li>
		</ul>
    </div>

    <div class="site-footer__info">
        <div class="d-flex l-grid">
            <p>
                Copyrights 2012 Viet Nam News. All rights reserved.<br>
                Add:79 Ly Thuong Kiet Street, Ha Noi, Viet Nam. Editor_In_Chief: Trinh Thanh Thuy<br>
                Tel: 84-24-39332316 - Fax: 84-24-39332311 - E-mail: vnnews@vnagency.com.vn<br>
                Publication Permit: 381/GP-BTTTT.
            </p>
            <div class="link">
                <a href="01-index.html">Home</a>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">RSS</a>
            </div>
        </div>
    </div>
</footer> <!-- end .site-footer -->