<div class="trending">
	<label>Trending</label>
    <a href="#">VietNamNews 30th Anniversary</a>
    <a href="#">International Trade Fair 2021</a>
    <a href="#">Covid-19</a>
    <a href="#">World Cup</a>
    <a href="#">Unilever Vietnam wins the 2021 WEPs Awards</a>
</div>

<div class="l-content">
	<div class="spotlight-slick">
		<div class="story">
            <div>
            	<a href="02-category.html" class="story__link">Politics & Laws</a>
            	<h2><a href="03-detail.html" class="story__title">Online hearings necessary to improve court transparency: NA deputies</a></h2>
            	<div class="summary">Hà Nội – Organising online court hearings is a breakthrough solution to improve the transparency of court proceedings, National Assembly (NA) deputies agreed on Sunday.</div>
            </div>
            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="550x366 (3:2)"></a>
        </div>
        <div class="story">
            <div>
            	<a href="02-category.html" class="story__link">Politics & Laws</a>
            	<h2><a href="03-detail.html" class="story__title">Online hearings necessary to improve court transparency: NA deputies</a></h2>
            	<div class="summary">Hà Nội – Organising online court hearings is a breakthrough solution to improve the transparency of court proceedings, National Assembly (NA) deputies agreed on Sunday.</div>
            </div>
            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="550x366 (3:2)"></a>
        </div>
	</div>
</div>