<nav class="navbar site-header__nav">
    <div class="container-fluid l-grid">
        <a href="01-index.html" class="home active"><i class="spr spr--home"></i></a>
        <a href="02-category.html" class="nav-item">Politics & Laws</a>
        <a href="02-category.html" class="nav-item">Society</a>
        <a href="02-category.html" class="nav-item">Economy</a>
        <a href="02-category.html" class="nav-item">Life & Style</a>
        <a href="02-category.html" class="nav-item">Sports</a>
        <a href="02-category.html" class="nav-item">Travel</a>
        <a href="02-category.html" class="nav-item">Environment</a>
        <a href="02-category.html" class="nav-item">Opinion</a>
        <div class="nav-ultilites">
            <div class="search">
                <a href="#" class="search-icon"><i class="spr spr--search"></i></a>
                <div class="search-form">
                    <input class="form-control" placeholder="Search keyword">
                </div>
            </div>

            <div class="social">
                <a href="#" class="social-item" title="Facebook"><i class="spr spr--fb"></i></a>
                <a href="#" class="social-item" title="Twitter"><i class="spr spr--tt"></i></a>
                <a href="#" class="social-item" title="Youtube"><i class="spr spr--yt"></i></a>
            </div>

            <div class="dropdown">
                <a href="#" class="menu-icon" id="menu_dropdown"><i class="spr spr--menu"></i></a>
                <div class="dropdown-menu">
                    <div class="row l-grid">
                        <div class="col">
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Brand-Info</a></div>
                            <div class="mb-4">
                                <a href="02-category.html" class="menu-heading">Sunday</a>
                                <a href="02-category.html" class="menu-item">Features</a>
                            </div>
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">A Twist in the Tale</a></div>
                        </div>
                        <div class="col">
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Politics & Laws</a></div>
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Society</a></div>
                            <div class="mb-4">
                                <a href="02-category.html" class="menu-heading">Economy</a>
                                <a href="02-category.html" class="menu-item">Business Beat</a>
                                <a href="02-category.html" class="menu-item">Talking Shop</a>
                            </div>
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Environment</a></div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <a href="02-category.html" class="menu-heading">Opinion</a>
                                <a href="02-category.html" class="menu-item">In the Spotlight</a>
                                <a href="02-category.html" class="menu-item">Op-Ed</a>
                                <a href="02-category.html" class="menu-item">Outlook</a>
                                <a href="02-category.html" class="menu-item">You Asked</a>
                                <a href="02-category.html" class="menu-item">Your Say</a>
                            </div>
                            <div class="mb-4">
                                <a href="02-category.html" class="menu-heading">Life & Style</a>
                                <a href="02-category.html" class="menu-item">Expat Corner</a>
                                <a href="02-category.html" class="menu-item">nom-nom</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Sports</a></div>
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Travel</a></div>
                            <div class="mb-4"><a href="02-category.html" class="menu-heading">Talk Around Town</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>