<div class="area area--dark">
    <div class="l-grid">
        <section class="zone zone--multimedia">
            <header class="zone__heading">
                <h3 class="heading">Multimedia</h3>
                <div class="multi-tabs">
                    <a class="tablinks active" data-electronic="video" href="#video">Video</a>
                    <a class="tablinks" data-electronic="photo" href="#photo">Photo</a>
                    <a class="tablinks" data-electronic="megastory" href="#megastory">Megastory</a>
                </div>
            </header>

            <div class="zone__content">
                <div class="wrapper_tabcontent">
                    <div id="video" class="tabcontent active">
                        <article class="story story--focus">
                            <a href="03-detail.html" class="story__thumb">
                                <span class="play-icon large"><i class="triangle"></i></span>
                                <img src="https://source.unsplash.com/random/1024x576?sig=1" alt="690x388 (16:9)">
                            </a>
                            <h2><a href="03-detail.html" class="story__title">Public transport must improve if toll on cars entering Hà Nội is approved</a></h2>
                        </article>
                        <div class="multi-scroll">
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb">
                                    <span class="play-icon"><i class="triangle"></i></span>
                                    <img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)">
                                </a>
                                <h2><a href="03-detail.html" class="story__title">Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                        </div>
                    </div>
                    <div id="photo" class="tabcontent">
                        <article class="story story--focus">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x576?sig=2" alt="690x388 (16:9)"></a>
                            <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Public transport must improve if toll on cars entering Hà Nội is approved</a></h2>
                        </article>
                        <div class="multi-scroll">
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="spr spr--picture"></i>Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                        </div>
                    </div>
                    <div id="megastory" class="tabcontent">
                        <article class="story story--focus">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x576?sig=3" alt="690x388 (16:9)"></a>
                            <h2><a href="03-detail.html" class="story__title"><i class="mega-icon large">M</i>Public transport must improve if toll on cars entering Hà Nội is approved</a></h2>
                        </article>
                        <div class="multi-scroll">
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Việt Nam spotlights ADMM’s role in building common awareness on regional security issues</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Saigon Zoo and Botanical Garden reopens after six months</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>HCM City adds 33 mobile medical stations to curb resurging COVID incidence</a></h2>
                            </article>
                            <article class="story">
                                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="150x100 (3:2)"></a>
                                <h2><a href="03-detail.html" class="story__title"><i class="mega-icon">M</i>Retailers in HCM City adapt to customer trends after social distancing </a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> <!-- end multimedia -->