/* ====================================
   LAYOUT
   ==================================== */

.l-grid {
    width: 1170px;
    margin: auto;
    @include clearfix();

    @include breakpoint(0, 1024px) {
        width: 980px;
    }
}

.l-content {
    width: 840px;
    float: left;
}

.sidebar {
    width: 300px;
    float: right;
}

.site-content {
    .row {
        margin-right: calc(var(--bs-gutter-x) * -1);
        margin-left: calc(var(--bs-gutter-x) * -1);

        >* {
            padding-right: calc(var(--bs-gutter-x) * 1);
            padding-left: calc(var(--bs-gutter-x) * 1);
        }
    }
}

.banner {
    text-align: center;
    margin-bottom: 30px;
}

.area {
    padding: 30px 0;
    border-radius: 5px;
    margin-bottom: 30px;

    &--dark {
        background: $success;
    }
}

.menu-list {
    .col {
        padding: 0;

        a:hover {
            text-decoration: underline;
        }
    }

    .menu-heading {
        font-size: 16px;
        font-size: 1.6rem;
        color: $primary;
        font-weight: 600;
    }

    .menu-item {
        font-size: 13px;
        font-size: 1.3rem;
        color: #666;
        padding: 5px 0;
    }
}