/* ====================================
   REGION
   ==================================== */

.zone {
    margin-bottom: 30px;

    &__heading {
        position: relative;
        margin-bottom: 15px;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #eee;
            position: absolute;
            top: 50%;
        }

        * {
            display: inline-block;
        }

        .heading {
            font-size: 24px;
            color: $primary;
            font-weight: 700;
            text-transform: uppercase;
            z-index: 1;
            position: relative;
            background: #fff;
            padding-right: 20px;

            &::first-letter {
                color: $secondary;
            }

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                background: $secondary;
                float: left;
                margin: 10px 10px 0 0;
                border-radius: 20px;
            }
        }

        a:hover {
            color: $secondary;
        }
    }

    &__content {
        @include clearfix();
    }
}

.aside {
    margin-bottom: 30px;

    &__heading {
        height: 50px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        background: $primary;
        border-radius: 5px;
        margin-bottom: 20px;

        .heading {
            font-size: 24px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;

            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                margin-left: 15px;
                background: #fff;
                border-radius: 20px;
            }
        }
    }

    &__content {
        @include clearfix();
    }

    &--latest {
        .story:not(:last-child) {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        .story__thumb {
            width: 110px;
            height: 73px;
            float: left;
            margin-right: 15px;
        }

        .story__title {
            font-size: 14px;
            line-height: 22px;
            position: relative;
            z-index: 1;
        }

        .number {
            font-size: 50px;
            line-height: 36px;
            font-weight: 700;
            color: rgba(0, 0, 0, .03);
            position: absolute;
            top: 35px;
            right: 0;
        }
    }

    &.has-bg {
        background: $info;

        .aside__heading {
            margin: 0;
            border-radius: 5px 5px 0 0;
        }

        .aside__content {
            padding: 10px 20px 20px;
        }

        .form-select {
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: 300;
            height: 40px;
            margin-bottom: 10px;
            border-color: #eee;
            border-radius: 0;

            option {
                font-weight: 300;
            }
        }

        .story:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
        }

        .story__thumb {
            margin-bottom: 10px;
        }

        .event-list {
            margin-left: 20px;
        }
    }
}

.event {
    background: $info;
    border-radius: 5px;
    margin-bottom: 30px;

    .story__thumb {
        img {
            border-radius: 5px 5px 0 0;
        }

        span {
            font-size: 18px;
            font-size: 1.8rem;
            line-height: 24px;
            line-height: 2.4rem;
            color: #fff;
            font-weight: 700;
            display: block;
            padding: 12px 20px;
            background: $primary;
        }
    }

    .event-list {
        padding: 10px 20px 10px 38px;
    }

    &-list {
        list-style-type: disc;
        color: $secondary;

        * {
            font-family: $font-family-serif;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 24px;
            line-height: 2.4rem;
        }

        li {
            margin-bottom: 5px;
        }
    }
}