/* ====================================
   STORY
   ==================================== */

.story {
    position: relative;

    .time {
        font-size: 13px;
        font-size: 1.3rem;
        color: #999;

        &:before {
            content: "•";
            margin: 0 8px;
        }
    }

    &__thumb {
        @include thumb();
    }

    &__title {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 22px;
        line-height: 2.2rem;
        font-weight: 700;

        &:hover {
            color: $primary;
        }
    }

    &__meta {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 10px 10px;

        .story__title {
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            margin-bottom: 5px;
        }
    }

    &__link {
        font-size: 13px;
        font-size: 1.3rem;
        color: $primary;
        font-weight: 600;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }

    &--primary {
        @include clearfix();

        .story__thumb {
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 20px;
        }

        .story__title {}
    }
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.summary {
    line-height: 22px;
    color: #666;

    * {
        font-size: 14px;
        display: inline;
    }

    a {
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }
}