/* ====================================
   STORY
   ==================================== */

.story {
    position: relative;
    @include clearfix();

    &__thumb {
        @include thumb();
    }

    &__title {
        font-family: $font-family-serif;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 24px;
        line-height: 2.4rem;
        font-weight: 700;

        &:hover {
            color: $primary;
        }

        i {
            margin-right: 6px;
        }
    }

    &__meta {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px 15px;

        .story__title {
            color: #fff;
        }

        .story__link {
            color: $secondary;
        }
    }

    &__link {
        font-size: 12px;
        font-size: 1.2rem;
        color: $primary;
        text-transform: capitalize;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.summary {
    font-family: $font-family-sans-serif;
    line-height: 24px;
    color: #666;
    font-weight: 300;

    * {
        font-size: 14px;
        display: inline;
    }

    a {
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form-text {
    font-size: 14px;
    color: #dc3545;
    margin-top: 5px;
}

.btnSubmit {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background: $primary;
    padding: 7px 32px;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    float: right;

    &:hover {
        background: $secondary;
    }
}