/* ====================================
   CATE LIST
   ==================================== */

@import "../mixins/mixins";

.zone {
    &--cate {
        &.has-thumb {
            .focus-col {
                .story:not(:last-child) {
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #eee;
                }

                .story__thumb {
                    width: 125px;
                    float: left;
                    margin-right: 16px;

                    @include breakpoint(768px) {
                        width: 150px;
                    }
                }
            }

            .story--focus {
                padding-bottom: 10px;
                margin-bottom: 16px;
                border-bottom: 1px solid #eee;

                .story__thumb {
                    margin-bottom: 10px;
                }

                .story__title {
                    font-size: 26px;
                    line-height: 34px;
                }
            }
        }

        &.has-text {
            .story--focus {
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-bottom: 1px solid #eee;

                .story__thumb {
                    margin-bottom: 10px;
                }

                .story__title {
                    font-size: 26px;
                    line-height: 34px;
                }
            }

            .row:not(:last-child) {
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-bottom: 1px solid #eee;
            }
        }
    }

    &--column {
        .row {
            margin-bottom: 25px;

            .story__thumb {
                margin-bottom: 10px;
            }
        }
    }
}

.cate-col {
    .heading {
        font-size: 20px;

        @include breakpoint(0, 767px) {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        &:after {
            @include breakpoint(0, 767px) {
                content: none;
            }
        }
    }

    .story:not(:last-child) {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid #eee;
    }

    .story__thumb {
        margin-bottom: 10px;
    }
}