/* ====================================
   FOOTER
   ==================================== */

@import "../base/custom-variables";

.m-footer {
    padding-top: 20px;
    background: $info;

    &__menu {
        padding: 0 16px;

        .menu-heading {
            font-size: 16px;
            font-size: 1.6rem;
            color: $primary;
            font-weight: 600;
            display: inline-block;
            width: 49%;
        }
    }

    &__info {
        text-align: center;
        padding: 16px;
        background: $primary;

        * {
            font-size: 13px;
            font-size: 1.3rem;
            color: #fff;
        }

        p {
            line-height: 24px;
            line-height: 2.4rem;
        }

        .link {
            padding-top: 16px;
            margin-top: 16px;
            border-top: 1px solid rgba(255, 255, 255, .2);

            a {
                font-weight: 500;
                display: inline;
                margin: 0 10px;
            }
        }
    }

    .simply-scroll {
        &-container {
            position: relative;
            background: #fff;
            padding: 16px;
        }

        &-clip {
            position: relative;
            height: 42px;
            overflow: hidden;
        }

        &-list {
            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            img {
                max-height: 42px;
            }
        }
    }
}