/* ====================================
   FOOTER
   ==================================== */

@import "../base/custom-variables";

.m-footer {
    padding-top: 20px;
    background: $info;

    &__menu {
        padding: 0 16px;

        .menu-heading {
            font-size: 16px;
            font-size: 1.6rem;
            color: $primary;
            font-weight: 600;
            display: inline-block;
            width: 49.5%;
        }
    }

    &__info {
        padding: 60px 0 20px;
        background: $primary;

        * {
            font-size: 13px;
            font-size: 1.3rem;
            color: #fff;
        }

        p {
            line-height: 24px;
            line-height: 2.4rem;
        }

        .link {
            display: flex;
            margin-left: auto;

            a {
                font-weight: 500;
                margin-left: 20px;
            }
        }
    }
}

.bizhub-cate {
    margin-top: 15px;

    .menu-heading {
        width: 50%;
        flex: inherit;
        padding: 0 2%;
        margin-bottom: 15px;
    }
}

.simply-scroll {
    &-container {
        position: relative;
        background: #fff;
        padding: 20px;
        margin-bottom: -40px;
        border-radius: 5px;
    }

    &-clip {
        position: relative;
        height: 42px;
        overflow: hidden;
    }

    &-list {
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }

        img {
            max-height: 42px;
        }
    }
}