/* ====================================
   TIMELINE
   ==================================== */

@import "../base/custom-variables";
@import "../mixins/mixins";

.timeline {
    margin-bottom: 16px;

    .story {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eee;
    }

    .story__title {
        font-size: 16px;
        line-height: 24px;
    }

    .story__thumb {
        width: 125px;
        float: left;
        margin-right: 16px;

        @include breakpoint(768px) {
            width: 150px;
        }
    }
}

.pag {
    .pagination {
        justify-content: center;
    }

    .page-item.active .page-link {
        color: #fff;
        background: $primary;
    }

    .page-link {
        font-size: 16px;
        font-size: 1.6rem;
        color: #222;
        width: 35px;
        height: 35px;
        background: $info;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0 none;
        border-radius: 50% !important;
    }
}

.sort {
    font-size: 12px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: $info;
    margin-top: 16px;
    border-radius: 20px;
}