/* ====================================
   TOPIC
   ==================================== */

@import "../mixins/mixins";

.topic {
    .zone--cate.has-thumb {
        border-bottom: 5px solid #f7f7f7;

        .focus-col {
            .story {
                margin-bottom: 0;
                border: 0 none;
            }

            .story__thumb {
                width: 100%;
                max-height: 120px;
                float: none;
                margin: 0 0 8px;

                @include breakpoint(768px) {
                    max-height: 238px;
                }
            }
        }
    }

    &__cover {
        min-height: 250px;
        background: url("../img/vnn_bg.png") 0 0 no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -16px 16px;

        .headline {
            font-size: 34px;
            font-size: 3.4rem;
            color: #fff;
            text-align: center;

            &:before {
                content: "";
                display: block;
                width: 100px;
                margin: 0 auto 20px;
                border-top: 1px solid rgba(255, 255, 255, .4);
            }

            &:after {
                content: "";
                display: block;
                width: 100px;
                margin: 20px auto 0;
                border-bottom: 1px solid rgba(255, 255, 255, .4);
            }
        }
    }
}