<div class="area area--dark">
    <div class="l-grid">
        <section class="zone zone--opinion">
            <header class="zone__heading">
                <a class="heading" href="02-category.html">Opinion</a>
            </header>

            <div class="zone__content">
                <div class="row">
                    <div class="col">
                        <article class="story">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="270x180 (3:2)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">In the Spotlight</a>
                                <h2><a href="03-detail.html" class="story__title">Foreign tourists can visit Việt Nam this month</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="story large">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/682x1024?sig=1" alt="270x360 (3:4)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">Outlook</a>
                                <h2><a href="03-detail.html" class="story__title">The UK will further support VN in green development: British Ambassador</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="story">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/682x1024?sig=1" alt="270x360 (3:4)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">You say</a>
                                <h2><a href="03-detail.html" class="story__title">Meetings with citizens are vital for issues to be resolved: official</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="story">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="270x180 (3:2)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">In the spotlight</a>
                                <h2><a href="03-detail.html" class="story__title">Celebrating Turkey’s 98th birthday in Việt Nam with pride and joy</a></h2>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-180">
                        <article class="story large">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/682x1024?sig=2" alt="270x360 (3:4)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">In the Spotlight</a>
                                <h2><a href="03-detail.html" class="story__title">Foreign tourists can visit Việt Nam this month</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="story">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="270x180 (3:2)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">Outlook</a>
                                <h2><a href="03-detail.html" class="story__title">The UK will further support VN in green development: British Ambassador</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col mt-180">
                        <article class="story large">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/682x1024?sig=3" alt="270x360 (3:4)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">You say</a>
                                <h2><a href="03-detail.html" class="story__title">Meetings with citizens are vital for issues to be resolved: official</a></h2>
                            </div>
                        </article>
                    </div>
                    <div class="col mt-180">
                        <article class="story large">
                            <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/682x1024?sig=4" alt="270x360 (3:4)"></a>
                            <div class="story__meta">
                                <a href="02-category.html" class="story__link">In the spotlight</a>
                                <h2><a href="03-detail.html" class="story__title">Celebrating Turkey’s 98th birthday in Việt Nam with pride and joy</a></h2>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> <!-- end opinion -->