/* ====================================
   Custom Bootstrap Variables
   ==================================== */

// Color system
$primary:       #0066B3 !default;   // Blue
$secondary:     #FCB500 !default;   // Yellow
$success:       #002642 !default;   // Blue ( Denim )
$info:          #f7f7f7 !default;

// Typography
$font-family-sans-serif:      "Roboto", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:           "PlayfairDisplay", serif !default;
$font-family-base:            "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-weight-base:            400 !default;
$line-height-base:            1.5 !default;