/* ====================================
   CATE COL
   ==================================== */

.cate-col {
    .heading {
        font-size: 20px;
    }

    .story:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    .story__thumb {
        margin-bottom: 10px;
    }
}