<div class="l-grid cate-col">
	<div class="row">
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Brand-info</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Sunday</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">A Twist in the Tale</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Foodwise</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Business Beat</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=5" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Talking Shop</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=6" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Expat Corner</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=7" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
		<div class="col">
			<section class="zone">
	            <header class="zone__heading">
	                <h3><a href="02-category.html" class="heading">Talk Around Town</a></h3>
	            </header>
	            <div class="zone__content">
	            	<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=8" alt="270x180 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	            </div>
	        </section>
		</div>
	</div>
</div>	<!-- end cate-col -->