<div class="sidebar">
    <section class="zone border zone--popular">
        <header class="zone__heading">
            <h3><a href="02-category.html" class="heading">Tin nổi bật</a></h3>
        </header>
        <div class="zone__content">
            <article class="story story--focus">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt="318x178 (16:9)"></a>
                <h2><a href="03-detail.html" class="story__title">Chứng khoán 15/11: Rung lắc chớp nhoáng cuối phiên, VN-Index vẫn tăng hơn 3 điểm</a></h2>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/100x100?sig=1" alt="100x100 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Thêm nhiều chiêu trò lừa đảo nhận tiền hỗ trợ từ Quỹ bảo hiểm thất nghiệp</a></h2>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/100x100?sig=2" alt="100x100 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Chứng khoán 15/11: Rung lắc chớp nhoáng cuối phiên, VN-Index vẫn tăng hơn 3 điểm</a></h2>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/100x100?sig=3" alt="100x100 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Chứng khoán 15/11: Rung lắc chớp nhoáng cuối phiên, VN-Index vẫn tăng hơn 3 điểm</a></h2>
            </article>
        </div>
    </section>

    <section class="zone border zone--popular has-summary">
        <header class="zone__heading">
            <h3><a href="02-category.html" class="heading">Tin nhanh mới nhất</a></h3>
        </header>
        <div class="zone__content">
            <article class="story story--focus">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x576?sig=1" alt="318x178 (16:9)"></a>
                <h2><a href="03-detail.html" class="story__title">Năm 2022, người mua nhà được vay với lãi suất 4,8%</a></h2>
                <div class="summary">Theo quyết định mới của NHNN, mức lãi suất của các ngân hàng thương mại áp dụng trong năm 2022 đối với dư nợ của các khoản cho vay hỗ trợ nhà ở theo quy định là 4,8%/năm (<a href="#">BizLIVE.vn</a>).</div>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/60x60?sig=1" alt="60x60 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Năm 2022, người mua nhà được vay với lãi suất 4,8%</a></h2>
                <div class="summary">Theo quyết định mới của NHNN, mức lãi suất của các ngân hàng thương mại áp dụng trong năm 2022 đối với dư nợ của các khoản cho vay hỗ trợ nhà ở theo quy định là 4,8%/năm (<a href="#">BizLIVE.vn</a>).</div>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/60x60?sig=2" alt="60x60 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Chứng khoán 15/11: Rung lắc chớp nhoáng cuối phiên, VN-Index vẫn tăng hơn 3 điểm</a></h2>
                <div class="summary">Theo quyết định mới của NHNN, mức lãi suất của các ngân hàng thương mại áp dụng trong năm 2022 đối với dư nợ của các khoản cho vay hỗ trợ nhà ở theo quy định là 4,8%/năm (<a href="#">BizLIVE.vn</a>).</div>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/60x60?sig=3" alt="60x60 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Chứng khoán 15/11: Rung lắc chớp nhoáng cuối phiên, VN-Index vẫn tăng hơn 3 điểm</a></h2>
                <div class="summary">Theo quyết định mới của NHNN, mức lãi suất của các ngân hàng thương mại áp dụng trong năm 2022 đối với dư nợ của các khoản cho vay hỗ trợ nhà ở theo quy định là 4,8%/năm (<a href="#">BizLIVE.vn</a>).</div>
            </article>
            <article class="story story--primary">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/60x60?sig=4" alt="60x60 (1:1)"></a>
                <h2><a href="03-detail.html" class="story__title">Năm 2022, người mua nhà được vay với lãi suất 4,8%</a></h2>
                <div class="summary">Theo quyết định mới của NHNN, mức lãi suất của các ngân hàng thương mại áp dụng trong năm 2022 đối với dư nợ của các khoản cho vay hỗ trợ nhà ở theo quy định là 4,8%/năm (<a href="#">BizLIVE.vn</a>).</div>
            </article>
        </div>
    </section>

    <section class="zone border zone--popular has-qa">
        <header class="zone__heading">
            <h3><a href="02-category.html" class="heading"><span class="label">Hỏi - Đáp</span>Kinh doanh & pháp luật</a></h3>
        </header>
        <div class="zone__content">
            <article class="story top-qa">
                <h2><a href="03-detail.html" class="story__title"><i class="icon-question"></i><span>Làm thế nào để có một ý tưởng kinh doanh tốt?</span></a></h2>
                <div class="summary">Để một ý tưởng kinh doanh thành công bạn cần trả lời 3 câu hỏi. Sản phẩm/ dịch vụ ấy đã phổ biến trên thị trường chưa, đối tượng khách hàng là gì? Tỷ lệ cung cầu của sản phẩm/ dịch ấy như thế nào, cung đã đáp ứng đủ cầu hay chưa, thừa hay đang thiếu? Sản phẩm/ dịch vụ của bạn có gì để cạnh tranh với các sản phầm cũng ngành khác?</div>
            </article>
            <article class="story">
                <h2><a href="03-detail.html" class="story__title"><i class="icon-question"></i><span>Có nên viết một bản kế hoạch kinh doanh?</span></a></h2>
            </article>
            <article class="story">
                <h2><a href="03-detail.html" class="story__title"><i class="icon-question"></i><span>Có phải các doanh nghiệp thất bại vì không có đủ tiền?</span></a></h2>
            </article>
            <article class="story">
                <h2><a href="03-detail.html" class="story__title"><i class="icon-question"></i><span>Phải làm gì để có đủ nguồn tài trợ?</span></a></h2>
            </article>
            <article class="story">
                <h2><a href="03-detail.html" class="story__title"><i class="icon-question"></i><span>Bạn kinh doanh hay nghiên cứu sản phẩm?</span></a></h2>
            </article>
        </div>
    </section>
</div> <!-- end .sidebar -->