<div class="sidebar">
    <div class="banner">
        <a href="#"><img src="../figurations/300x250.png" alt=""></a>
    </div>
    <section class="aside aside--latest">
        <header class="aside__heading">
            <h3 class="heading">Latest</h3>
        </header>
        <div class="aside__content">
            <article class="story">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="110x73 (3:2)"></a>
                <h2><a href="03-detail.html" class="story__title">Season 3 of “Whose Chance?” reality show on jobs airs on VTV3</a></h2>
                <div class="number">1.</div>
            </article>
            <article class="story">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="110x73 (3:2)"></a>
                <h2><a href="03-detail.html" class="story__title">Hà Nội promotes organic farming, cuts use of pesticides</a></h2>
                <div class="number">2.</div>
            </article>
            <article class="story">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="110x73 (3:2)"></a>
                <h2><a href="03-detail.html" class="story__title">HCM City issues COVID safety criteria for enterprises</a></h2>
                <div class="number">3.</div>
            </article>
            <article class="story">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="110x73 (3:2)"></a>
                <h2><a href="03-detail.html" class="story__title">Foreign tourists can visit Việt Nam this month</a></h2>
                <div class="number">4.</div>
            </article>
            <article class="story">
                <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=5" alt="110x73 (3:2)"></a>
                <h2><a href="03-detail.html" class="story__title">Some Hà Nội schools to resume in-classroom teaching from November 8</a></h2>
                <div class="number">5.</div>
            </article>
        </div>
    </section>
</div> <!-- end .sidebar -->