<div class="l-grid">
	<div class="l-content">
		<section class="zone zone--cate has-thumb">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Politics & Laws</a></h3>
            </header>
            <div class="zone__content">
            	<div class="focus-col">
            		<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="260x173 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Photo exhibit celebrates 40th anniversary of HCM City Photography Association</a></h2>
	                </article>
            	</div>
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="550x366 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Land use planning needs to mitigate impacts on environment</a></h2>
                    <div class="summary">Hà Nội — National Assembly deputies discussed the draft of plans for national land use for the 2021-2030 period with a vision to 2050 and the 2021-2025 land use plan at the ongoing second session of the 15th legislature on Saturday.</div>
                </article>
            </div>
        </section>

        <section class="zone zone--cate has-thumb">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Society</a></h3>
            </header>
            <div class="zone__content">
            	<div class="focus-col">
            		<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="260x173 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Canada provides emergency support to female migrant workers</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Photo exhibit celebrates 40th anniversary of HCM City Photography Association</a></h2>
	                </article>
            	</div>
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="550x366 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
                    <div class="summary">Central Region —  Two UNESCO World Heritage sites in Việt Nam are getting ready to begin receiving tourists, again as part of wider a pilot scheme to reintroduce tourism in the wake of the COVID-19 pademic. </div>
                </article>
            </div>
        </section>

        <section class="zone zone--cate has-thumb">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Economy</a></h3>
            </header>
            <div class="zone__content">
            	<div class="focus-col">
            		<article class="story">
	                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="260x173 (3:2)"></a>
	                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Quảng Nam UNESCO sites gear up for post-COVID-19 tourism recovery</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Artist's talent blooms with lotus flower collection</a></h2>
	                </article>
	                <article class="story">
	                    <h2><a href="03-detail.html" class="story__title">Photo exhibit celebrates 40th anniversary of HCM City Photography Association</a></h2>
	                </article>
            	</div>
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="550x366 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Land use planning needs to mitigate impacts on environment</a></h2>
                    <div class="summary">Hà Nội — National Assembly deputies discussed the draft of plans for national land use for the 2021-2030 period with a vision to 2050 and the 2021-2025 land use plan at the ongoing second session of the 15th legislature on Saturday.</div>
                </article>
            </div>
        </section>

        <section class="zone zone--column">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Life & Style</a></h3>
            </header>
            <div class="zone__content">
                <div class="row">
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">Deputy PM: Planning key for Mekong Delta’s fast and sustainable development</a></h2>
                	</article>
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">18 children aged two-six months mistakenly given COVID-19 vaccine</a></h2>
                	</article>
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=5" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">Việt Nam demands China withdraw ships out of Việt Nam’s Whitsun Reef</a></h2>
                	</article>
                </div>
                <div class="row">
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">Deputy PM: Planning key for Mekong Delta’s fast and sustainable development</a></h2>
                	</article>
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">18 children aged two-six months mistakenly given COVID-19 vaccine</a></h2>
                	</article>
                	<article class="col story">
                	    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=5" alt="260x173 (3:2)"></a>
                	    <h2><a href="03-detail.html" class="story__title">Việt Nam demands China withdraw ships out of Việt Nam’s Whitsun Reef</a></h2>
                	</article>
                </div>
            </div>
        </section>

        <section class="zone zone--cate has-text">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Sports</a></h3>
            </header>
            <div class="zone__content">
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="492x338 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Big things expected from Việt Nam's very own 'Roberto Carlos'</a></h2>
                    <div class="summary">Lê Văn Xuân isn’t your typical footballer. In his own words he describes himself as ‘a little short, a little heavy and very quiet’.</div>
                </article>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                </div>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                </div>
            </div>
        </section>

        <section class="zone zone--cate has-text">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Travel</a></h3>
            </header>
            <div class="zone__content">
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="492x338 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Meetings with citizens are vital for issues to be resolved: official</a></h2>
                    <div class="summary">Meetings with citizens, as well as the settlement of complaints and denunciations, are to be discussed during the ongoing National Assembly session, and is also a topic to be overseen by the Standing Committee.</div>
                </article>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                </div>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                </div>
            </div>
        </section>

        <section class="zone zone--cate has-text">
            <header class="zone__heading">
                <h3><a href="02-category.html" class="heading">Environment</a></h3>
            </header>
            <div class="zone__content">
                <article class="story story--focus">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="492x338 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Endangered turtle released back to sea in Quảng Bình</a></h2>
                    <div class="summary">Quảng Bình —  After being found tangled in a fishing net, a rare and endangered turtle was released back into the sea off Quảng Bình on Wednesday morning. </div>
                </article>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                	</article>
                </div>
                <div class="row">
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                	<article class="col story">
                	    <h2><a href="03-detail.html" class="story__title">Seaport companies expect high profit in Q3 from rising freight rates</a></h2>
                	</article>
                </div>
            </div>
        </section>
	</div>

    <div class="sidebar">
        <div class="banner">
            <a href="#"><img src="../figurations/300x250.png" alt=""></a>
        </div>
        <section class="aside has-bg">
            <header class="aside__heading">
                <h3><a class="heading" href="#">Local news</a></h3>
            </header>
            <div class="aside__content">
                <select class="form-select" aria-label="default select">
                    <option selected>Hà Nội</option>
                    <option value="1">HCM city</option>
                </select>
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="260x173 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Prime Minister, four ministers to go before NA for Q&A sessions</a></h2>
                </article>
                <article class="story">
                    <h2><a href="03-detail.html" class="story__title">Localities asked to be proactive as new COVID-19 clusters emerge</a></h2>
                </article>
                <article class="story">
                    <h2><a href="03-detail.html" class="story__title">Bình Thuận gears up to develop ocean economy, ensure sovereignty protection</a></h2>
                </article>
            </div>
        </section>
        <div class="banner">
            <a href="#"><img src="../figurations/300x250_1.png" alt=""></a>
        </div>
        <section class="aside aside--latest">
            <header class="aside__heading">
                <h3 class="heading">Features</h3>
            </header>
            <div class="aside__content">
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=4" alt="110x73 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Season 3 of “Whose Chance?” reality show on jobs airs on VTV3</a></h2>
                </article>
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=3" alt="110x73 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Hà Nội promotes organic farming, cuts use of pesticides</a></h2>
                </article>
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=2" alt="110x73 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">HCM City issues COVID safety criteria for enterprises</a></h2>
                </article>
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=1" alt="110x73 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Foreign tourists can visit Việt Nam this month</a></h2>
                </article>
                <article class="story">
                    <a href="03-detail.html" class="story__thumb"><img src="https://source.unsplash.com/random/1024x682?sig=5" alt="110x73 (3:2)"></a>
                    <h2><a href="03-detail.html" class="story__title">Some Hà Nội schools to resume in-classroom teaching from November 8</a></h2>
                </article>
            </div>
        </section>
        <div class="event">
            <a href="#" class="story__thumb">
                <img src="../figurations/event_1.png" alt="">
                <span>General Election, 2021</span>
            </a>
            <ul class="event-list">
                <li><a href="03-detail.html">Election Council reports voter turnout of more than 95 per cent</a></li>
                <li><a href="03-detail.html">Voters in HCM City excited to cast ballots</a></li>
                <li><a href="03-detail.html">PM urges people to vote as he casts his ballot in Cần Thơ</a></li>
            </ul>
        </div>
        <div class="event">
            <a href="#" class="story__thumb">
                <img src="../figurations/event_2.png" alt="">
                <span>13TH National Party Congress</span>
            </a>
            <ul class="event-list">
                <li><a href="03-detail.html">13th National Party Congress adopts resolution</a></li>
                <li><a href="03-detail.html">13th Party Central Committee makes debut</a></li>
                <li><a href="03-detail.html">13th National Party Congress ends</a></li>
            </ul>
        </div>
        <div class="event">
            <a href="#" class="story__thumb">
                <img src="../figurations/event_3.png" alt="">
                <span>ASEAN Vietnam 2020</span>
            </a>
            <ul class="event-list">
                <li><a href="03-detail.html">ASEAN proves its centrality in a volatile 2020: Diplomat</a></li>
                <li><a href="03-detail.html">PM: Việt Nam becomes strong, trustworthy mainstay in ASEAN</a></li>
                <li><a href="03-detail.html">VN’s steady leadership has reinforced ASEAN’s pivotal role in the region</a></li>
            </ul>
        </div>
        <div class="event">
            <a href="#" class="story__thumb"><img src="../figurations/event_4.png" alt=""></a>
            <ul class="event-list">
                <li><a href="03-detail.html">World condemns China’s violations of international law in East Sea</a></li>
                <li><a href="03-detail.html">Bình Thuận gears up to develop ocean economy, ensure sovereignty protection</a></li>
                <li><a href="03-detail.html">Debunking China's baseless and illogical 'Four Shas' claim</a></li>
            </ul>
        </div>
        <div class="event">
            <a href="#" class="story__thumb"><img src="../figurations/event_5.png" alt=""></a>
            <ul class="event-list">
                <li><a href="03-detail.html">Nom, nom, Vietnam - Episode 90: Stir-fried noodles</a></li>
                <li><a href="03-detail.html">Nom, nom, Vietnam - Episode 89: Noodles with duck</a></li>
                <li><a href="03-detail.html">Nom, nom, Vietnam - Episode 88: Fried tofu sandwich</a></li>
            </ul>
        </div>
        <section class="aside has-bg">
            <header class="aside__heading">
                <h3><a class="heading" href="02-category.html">E-paper</a></h3>
            </header>
            <div class="aside__content">
                <ul class="event-list">
                    <li><a href="03-detail.html">E-paper</a></li>
                    <li><a href="03-detail.html">Subscribe</a></li>
                    <li><a href="03-detail.html">Print Advertisement</a></li>
                    <li><a href="03-detail.html">Online Advertisement</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>	<!-- end Categories -->