/* ====================================
   CATE LIST
   ==================================== */

@import "../mixins/mixins";

.zone {
    &--cate {
        &.has-thumb {
            .zone__content {
                display: flex;
            }

            .focus-col {
                width: 260px;
                margin-right: auto;

                @include breakpoint(0, 1024px) {
                    width: 200px;
                }

                .story:not(:last-child) {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #eee;
                }

                .story__thumb {
                    height: 173px;
                    margin-bottom: 10px;
                }
            }

            .story--focus {
                width: 550px;

                @include breakpoint(0, 1024px) {
                    width: 440px;
                }

                .story__thumb {
                    height: 366px;
                    margin-bottom: 10px;
                }

                .story__title {
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 10px;
                }
            }
        }

        &.has-text {
            .story--focus {
                margin-bottom: 25px;

                .story__thumb {
                    width: 492px;
                    height: 328px;
                    float: left;
                    margin-right: 30px;

                    @include breakpoint(0, 1024px) {
                        width: 440px;
                        height: 293px;
                    }
                }

                .story__title {
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 10px;
                }
            }

            .row:not(:last-child) {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid #eee;
            }
        }
    }

    &--column {
        .row {
            margin-bottom: 25px;

            .story__thumb {
                height: 173px;
                margin-bottom: 10px;
            }
        }
    }
}

.cate-col {
    .heading {
        font-size: 20px;
    }

    .story:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    .story__thumb {
        height: 180px;
        margin-bottom: 10px;
    }
}