<div class="topbar">
    <div class="l-grid d-flex">
        <div class="me-auto">Monday, October 25 2021</div>
        <ul class="ms-auto">
            <li><a href="#">News</a></li>
            <li><a href="#">bizhub.vn</a></li>
            <li><a href="#">ovietnam.vn</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="l-grid site-header__content">
    <div class="me-auto">
        <a href="#"><img src="../figurations/234x60.png" alt=""></a>
    </div>
    <h1><a href="01-index.html" class="logo" title="Việt Nam News">Việt Nam News</a></h1>
    <div class="ms-auto">
        <a href="#"><img src="../figurations/234x60_1.png" alt=""></a>
    </div>
</div>