/* ====================================
   LAYOUT
   ==================================== */

.m-content {
    padding: 10px 16px;

    .row {
        margin-right: calc(var(--bs-gutter-x) * -.75);
        margin-left: calc(var(--bs-gutter-x) * -.75);

        >* {
            padding-right: calc(var(--bs-gutter-x) * .75);
            padding-left: calc(var(--bs-gutter-x) * .75);
        }
    }
}

.banner {
    text-align: center;
    margin-bottom: 16px;
}

.area {
    padding: 20px 16px;
    margin: 0 -16px 20px;

    &--dark {
        background: $success;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 6px 0 16px;

    * {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 18px;
        line-height: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;

        &:not(:first-child) {
            color: $primary;
        }
    }
}

.expand-child {
    margin-left: auto;

    &.active {
        .expand-btn i {
            width: 19px;
            background-position: -100px -300px;
        }

        .dropdown-menu {
            display: block;
        }
    }

    .expand-btn {
        width: 34px;
    }

    .dropdown-menu {
        left: 0;
        right: 0;
        border: 0;
        background: $info;
        padding: 16px;
        margin-top: 16px;
        border-radius: 0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

        ul {
            list-style: disc;
            margin-left: 16px;

            li {
                color: $secondary;
            }
        }

        a {
            color: #666;
            font-weight: 400;
            text-transform: none;
            padding: 5px 0;
        }
    }
}

.category .zone.has-thumb {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 5px solid #f7f7f7;
}

.l-text {
    * {
        font-family: $font-family-sans-serif;
        font-size: 18px;
        line-height: 28px;
        color: #000;
        font-weight: 300;
    }

    div,
    p {
        margin-bottom: 20px;
    }

    strong {
        font-weight: 500;
    }

    a {
        display: inline;
        color: $primary;
    }
}

// Modal
.modal {
    display: none;
    background-color: #00000063;

    &.show {
        display: block !important;
    }
}