/* ====================================
   LAYOUT
   ==================================== */

.m-content {
    padding: 10px 16px;

    .row {
        margin-right: calc(var(--bs-gutter-x) * -.75);
        margin-left: calc(var(--bs-gutter-x) * -.75);

        >* {
            padding-right: calc(var(--bs-gutter-x) * .75);
            padding-left: calc(var(--bs-gutter-x) * .75);
        }
    }
}

.col-160 {
    width: 160px;
}

.banner {
    text-align: center;
    margin-bottom: 20px;
}

.area {
    padding: 20px 16px;
    margin: 0 -16px 20px;

    &--dark {
        background: $success;
    }
}

// Category
.category {
    .zone--cate.has-thumb {
        padding-bottom: 25px;
        border-bottom: 1px solid #eee;

        .story--focus {
            margin-right: auto;
        }

        .focus-col {
            margin: 0 0 0 auto;
        }
    }
}