/* ====================================
   LAYOUT
   ==================================== */

.m-content {
    padding: 10px 16px;

    .row {
        margin-right: calc(var(--bs-gutter-x) * -.75);
        margin-left: calc(var(--bs-gutter-x) * -.75);

        >* {
            padding-right: calc(var(--bs-gutter-x) * .75);
            padding-left: calc(var(--bs-gutter-x) * .75);
        }
    }
}

.banner {
    text-align: center;
    margin-bottom: 16px;
}

.area {
    padding: 20px 16px;
    margin: 0 -16px 20px;

    &--dark {
        background: $success;
    }
}

.breadcrumbs {
    display: flex;
    margin: 6px 0 16px;

    * {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 18px;
        line-height: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;

        &:not(:last-child) {
            color: $primary;
        }
    }
}

// Category
.category .zone.has-thumb {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 5px solid #f7f7f7;
}