/* ====================================
   REGION
   ==================================== */

.zone {
    margin-bottom: 16px;

    &__heading {
        position: relative;
        margin-bottom: 12px;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #eee;
            position: absolute;
            top: 50%;
        }

        * {
            display: inline-block;
        }

        .heading {
            font-size: 22px;
            color: $primary;
            font-weight: 700;
            text-transform: uppercase;
            z-index: 1;
            position: relative;
            background: #fff;
            padding-right: 16px;

            &::first-letter {
                color: $secondary;
            }

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                background: $secondary;
                float: left;
                margin: 10px 10px 0 0;
                border-radius: 20px;
            }
        }
    }

    &__content {
        @include clearfix();
    }
}

.aside {
    margin-bottom: 16px;

    &__heading {
        height: 50px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        background: $primary;
        border-radius: 5px;
        margin-bottom: 16px;

        .heading {
            font-size: 22px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;

            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                margin-left: 15px;
                background: #fff;
                border-radius: 20px;
            }
        }
    }

    &__content {
        @include clearfix();
    }

    &--latest {
        .story:not(:last-child) {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #eee;
        }

        .story__thumb {
            width: 125px;
            float: left;
            margin-right: 16px;

            @include breakpoint(768px) {
                width: 150px;
            }
        }

        .story__title {
            font-size: 14px;
            line-height: 22px;
            position: relative;
            z-index: 1;
        }

        .number {
            font-size: 50px;
            line-height: 36px;
            font-weight: 700;
            color: rgba(0, 0, 0, .03);
            position: absolute;
            top: 35px;
            right: 0;
        }
    }

    &.has-bg {
        background: $info;

        .aside__heading {
            margin: 0;
            border-radius: 5px 5px 0 0;
        }

        .aside__content {
            padding: 10px 16px 20px;
        }

        .form-select {
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: 300;
            height: 40px;
            margin-bottom: 16px;
            border-color: #eee;
            border-radius: 0;

            option {
                font-weight: 300;
            }
        }

        .story:not(:last-child) {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid #ddd;
        }

        .story__thumb {
            width: 125px;
            float: left;
            margin: 0 16px 5px 0;

            @include breakpoint(768px) {
                width: 150px;
            }
        }
    }

    .event-list {
        margin-left: 20px;
    }
}

.event {
    background: $info;
    border-radius: 5px;
    margin-bottom: 20px;

    .story__thumb {
        img {
            border-radius: 5px 5px 0 0;
        }

        span {
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 22px;
            line-height: 2.2rem;
            color: #fff;
            font-weight: 700;
            display: block;
            padding: 12px 20px;
            background: $primary;
        }
    }

    .event-list {
        padding: 10px 16px 10px 30px;
    }

    &-list {
        list-style-type: disc;
        color: $secondary;

        * {
            font-family: $font-family-serif;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 24px;
            line-height: 2.4rem;
        }

        li {
            margin-bottom: 5px;
        }
    }
}